Loading the EBC CSV file as a panda dataframe

In [1]:
#Import Libraries
import pandas as pd
import numpy as np

In [38]:
# Defining Functions

def Read_CSV(filepath):
    '''Reads the csv table that that the generic tracking algorithm saves. Function uses predefined '''
    # Defining the headers for the EVK CSV files
    csv_headers = ['x_floor', 'y_floor', 't_stamp', 'x', 'y', 'bb_height', 'bb_width', 'id_particle', 'event_number']

    #loading csv file as panda dataframe
    return pd.read_csv(filepath, delimiter=',', names=csv_headers)
    

def get_UniqueIDs(DataTable):
    '''
    Determines all the different ID of particles being tracked
    '''    
    IDs, counts = np.unique(DataTable['id_particle'], return_counts=True)
    
    return IDs, counts

def get_modeID(DataTable):
    '''Determines the mode of the id_particles
    '''
    return DataTable['id_particle'].mode()

def filter_DataTable_By_ID(DataTable, ID):
    ''' With designated id the datatable is filter'''
    return DataTable.loc[(DataTable['id_particle'].values == ID).T]

In [41]:
# Full file path to the csv
filename = '/home/levitech/millen2/ElectroMech/Data/20220706/20220706_refsave/EVK_20220706_13-07-33.csv'

data = Read_CSV(filename)
data['id_particle'].values[1:40] = 1

modeID = get_modeID(data)
uniqueIDs, counts = get_UniqueIDs(data)

filter_DataTable_By_ID(data,uniqueIDs[0])





# This condition gets rid of unwanted 0
# data = data.loc[(data['id_particle'].values == [data['id_particle'].mode()]).T]

,x_floor,y_floor,t_stamp,x,y,bb_height,bb_width,id_particle,event_number
0,321,233,100001999,321.760265,233.945264,30.126457,37.223333,0,99470
40,321,233,100041999,321.834397,233.627936,29.789648,37.166841,0,99510
41,321,233,100042999,321.830557,233.613512,29.761932,37.125501,0,99511
42,321,233,100043999,321.826271,233.611002,29.724402,37.175374,0,99512
43,321,233,100044999,321.812965,233.661777,29.737692,37.184394,0,99513
...,...,...,...,...,...,...,...,...,...
19995,321,233,119996999,321.840949,233.999511,26.625126,34.013252,0,119465
19996,321,233,119997999,321.856979,233.943668,26.679409,34.094190,0,119466
19997,321,233,119998999,321.863565,233.926964,26.702884,34.103700,0,119467
19998,321,233,119999999,321.874717,233.920206,26.685770,34.092936,0,119468
19999,321,233,120000999,321.876456,233.930071,26.729360,34.092368,0,119469

In [40]:
print(uniqueIDs)

(array([0, 1]), array([19961,    39]))

we can define this particle act as a function that simply loads the file